NET "RF_Addr[4]" LOC = "T5";
NET "RF_Addr[3]" LOC = "V8";
NET "RF_Addr[2]" LOC = "U8";
NET "RF_Addr[1]" LOC = "N8";
NET "RF_Addr[0]" LOC = "M8";
NET "RF_Write" LOC = "V9";
NET "RF_Sel[1]" LOC = "T9";
NET "RF_Sel[0]" LOC = "T10";

NET "RF_clk" LOC = "C9";
NET "RF_Reset" LOC = "D9";
NET "RF_Port_Sel" LOC = "C4";

NET "RF_LED[7]" LOC = "T11";
NET "RF_LED[6]" LOC = "R11";
NET "RF_LED[5]" LOC = "N11";
NET "RF_LED[4]" LOC = "M11";
NET "RF_LED[3]" LOC = "V15";
NET "RF_LED[2]" LOC = "U15";
NET "RF_LED[1]" LOC = "V16";
NET "RF_LED[0]" LOC = "U16";