//! **************************************************************************
// Written by: Map P.20131013 on Sat May 26 11:19:15 2018
//! **************************************************************************

SCHEMATIC START;
COMP "RF_LED<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "RF_LED<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "RF_LED<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "RF_LED<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "RF_LED<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "RF_LED<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "RF_LED<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "RF_LED<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "RF_Reset" LOCATE = SITE "D9" LEVEL 1;
COMP "RF_Write" LOCATE = SITE "V9" LEVEL 1;
COMP "RF_Sel<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "RF_Sel<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "RF_Addr<0>" LOCATE = SITE "M8" LEVEL 1;
COMP "RF_Addr<1>" LOCATE = SITE "N8" LEVEL 1;
COMP "RF_Addr<2>" LOCATE = SITE "U8" LEVEL 1;
COMP "RF_Addr<3>" LOCATE = SITE "V8" LEVEL 1;
COMP "RF_Addr<4>" LOCATE = SITE "T5" LEVEL 1;
COMP "RF_clk" LOCATE = SITE "C9" LEVEL 1;
COMP "RF_Port_Sel" LOCATE = SITE "C4" LEVEL 1;
SCHEMATIC END;

