NET	"AA_A[0]"	LOC="T10";
NET	"AA_A[1]"	LOC="T9";
NET	"AA_A[2]"	LOC="V9";
NET	"AA_A[3]"	LOC="M8";
NET	"AA_B[0]"	LOC="N8";
NET	"AA_B[1]"	LOC="U8";
NET	"AA_B[2]"	LOC="V8";
NET	"AA_B[3]"	LOC="T5";
NET	"AA_C_0"	LOC="C4";
NET	"AA_F[0]"	LOC="U16";
NET	"AA_F[1]"	LOC="V16";
NET	"AA_F[2]"	LOC="U15";
NET	"AA_F[3]"	LOC="V15";
NET	"AA_C_4"	LOC="M11";