//! **************************************************************************
// Written by: Map P.20131013 on Sat May 05 12:07:47 2018
//! **************************************************************************

SCHEMATIC START;
COMP "ALU_result_switch" LOCATE = SITE "T9" LEVEL 1;
COMP "ALU_DD_AN<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "ALU_DD_AN<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "ALU_zero_flag" LOCATE = SITE "U16" LEVEL 1;
COMP "ALU_DD_AN<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "ALU_DD_AN<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "ALU_data_SW<0>" LOCATE = SITE "V9" LEVEL 1;
COMP "ALU_data_SW<1>" LOCATE = SITE "M8" LEVEL 1;
COMP "ALU_data_SW<2>" LOCATE = SITE "N8" LEVEL 1;
COMP "ALU_clk" LOCATE = SITE "V10" LEVEL 1;
COMP "ALU_overflow_flag" LOCATE = SITE "V16" LEVEL 1;
COMP "ALU_DD_seg<0>" LOCATE = SITE "M13" LEVEL 1;
COMP "ALU_DD_seg<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "ALU_DD_seg<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "ALU_DD_seg<3>" LOCATE = SITE "M14" LEVEL 1;
COMP "ALU_DD_seg<4>" LOCATE = SITE "U18" LEVEL 1;
COMP "ALU_OP<0>" LOCATE = SITE "U8" LEVEL 1;
COMP "ALU_DD_seg<5>" LOCATE = SITE "U17" LEVEL 1;
COMP "ALU_OP<1>" LOCATE = SITE "V8" LEVEL 1;
COMP "ALU_DD_seg<6>" LOCATE = SITE "T18" LEVEL 1;
COMP "ALU_OP<2>" LOCATE = SITE "T6" LEVEL 1;
COMP "ALU_DD_seg<7>" LOCATE = SITE "T17" LEVEL 1;
SCHEMATIC END;

