NET "MULTI_FUNC_ALU_UNIT_OP_xi[2]" LOC = "T5";
NET "MULTI_FUNC_ALU_UNIT_OP_xi[1]" LOC = "V8";
NET "MULTI_FUNC_ALU_UNIT_OP_xi[0]" LOC = "U8";
NET "MULTI_FUNC_ALU_UNIT_data_SW_xi[2]" LOC = "N8";
NET "MULTI_FUNC_ALU_UNIT_data_SW_xi[1]" LOC = "M8";
NET "MULTI_FUNC_ALU_UNIT_data_SW_xi[0]" LOC = "V9";
NET "MULTI_FUNC_ALU_UNIT_LED_SW_xi[2]" LOC = "C4";
NET "MULTI_FUNC_ALU_UNIT_LED_SW_xi[1]" LOC = "T9";
NET "MULTI_FUNC_ALU_UNIT_LED_SW_xi[0]" LOC = "T10";

NET "MULTI_FUNC_ALU_UNIT_LED_xo[7]" LOC = "T11";
NET "MULTI_FUNC_ALU_UNIT_LED_xo[6]" LOC = "R11";
NET "MULTI_FUNC_ALU_UNIT_LED_xo[5]" LOC = "N11";
NET "MULTI_FUNC_ALU_UNIT_LED_xo[4]" LOC = "M11";
NET "MULTI_FUNC_ALU_UNIT_LED_xo[3]" LOC = "V15";
NET "MULTI_FUNC_ALU_UNIT_LED_xo[2]" LOC = "U15";
NET "MULTI_FUNC_ALU_UNIT_LED_xo[1]" LOC = "V16";
NET "MULTI_FUNC_ALU_UNIT_LED_xo[0]" LOC = "U16";