//! **************************************************************************
// Written by: Map P.20131013 on Sat May 05 10:32:18 2018
//! **************************************************************************

SCHEMATIC START;
COMP "FA_C_0" LOCATE = SITE "V9" LEVEL 1;
COMP "FA_C_1" LOCATE = SITE "V16" LEVEL 1;
COMP "FA_A" LOCATE = SITE "T10" LEVEL 1;
COMP "FA_B" LOCATE = SITE "T9" LEVEL 1;
COMP "FA_F" LOCATE = SITE "U16" LEVEL 1;
SCHEMATIC END;

